@import url(high_priority.css);

@font-face {
  font-family: dummy;
  src:
    url(high_priority.woff2),
    url(high_priority.woff2#ignore-duplicate),
    url(high_priority.woff2?ignore#duplicate),
    url(high_priority.woff2?ignore-duplicate);
}

dummy-element {
  background-image: url(medium_priority.svg);
}
