<!-- include -->
<img src="loading-default.png">
<img src="loading-eager.png" loading="eager">
<!-- ignore -->
<img src="loading-auto.png" loading="auto">
<img src="loading-lazy.png" loading="lazy">
<img src="loading-lazy.png" loading="foo LAZY">
<img src="loading-lazy.png" loading="LAZY bar">
<!-- absolute URL -->
<img src="https://example.net">
